* {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  margin-top: 0px;
}

#titulo {}

#minha_foto{
  border-radius: 50%;
  width: 200px;
  margin-top: 90px;
}

.links{}

#licoes_aprendidas{}

#rodape{}
