
* {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  margin-top: 0px;
}

#titulo {}

#minha_foto {
  border-radius: 50%;
  width: 200px;
  top: 200px;
}

#licoes_aprendidas {
}

#rodape {
}
